<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User_CR</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div></div>
    <div class="container col-6 mb-3">
        <h1> WELCOME TO THE JIM-BOB EMPORIUM </h1>
        <div class="col-3 mx-auto">
            <a class="btn btn-primary " href="/users">See Users</a>
        </div>
    </div>
    <div></div>
</body>
</html>