<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body id="body1">

<div id="navbar" class="navbar d-flex justify-content-around px-5 mx-auto">
    <div>
        <h1 id="font1" >{{user.first_name}}'s Profile</h1>
    </div>
    <div>
        <h4 id="font1">Due Today: {{user.task_num}}</h4>
    </div>
    <div>
        <a class="btn btn-light mx-3" href="/dashboard">Dashboard</a>
        <a class="btn btn-danger mx-3" href="/logout">Logout</a>
    </div>
</div>

<div class="container my-5">

    <div class="webpage d-flex justify-content-between">
        <div id="showtask" class="task col-7 mx-auto text-center p-4 rounded">
            <div class="my-3">
                <div>
                    <h2>{{task.title}}</h2> 
                    <p><b>Due: </b>{{task.due_by.strftime('%a %b %d %Y')}}</p>
                    <hr>
                    <p>{{task.description}}</p>
                </div>
            </div>
            {% if task.completed == 0 %}
            <div class="text-center my-4">
                <a class="btn btn-light" href="/edit/{{task.id}}">Edit</a>
                <a class="btn btn-danger" href="/delete/{{task.id}}">Delete</a>
            </div>
            {% endif %}
        </div>
    
    
    
        <div id="notes" class="notes col-4 mx-auto p-4 rounded">
            <h1 class="text-center">NOTES: </h1>
            <hr>
        
            {% for note in notes %}
            <div id="postnotes" class="my-3 p-3 rounded">
                <p><b>{{note.time_span()}}: </b><br> {{note.content}}</p>
            </div>
            {% endfor %}

            <div>
                <form action="/create_note" method="POST">
                    <input type="hidden" name="id" value={{task.id}}>
                    <div class="form-floating">
                        <textarea class="form-control" name="content" id="content" style="height: 120px"></textarea>
                    </div>
                    <div class="text-center my-2">
                        <button id="postbut" class="btn" type="submit">Post Note</button>
                    </div>
                </form>
            </div>
        </div>



<!-- end webpage -->
    </div>

<!-- END CONTAINER -->
</div>


<script src="/flask_app/static/js/script.js"></script>
</body>
</html>