<!DOCTYPE html>
<htm lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1>Counter</h1>
        <h3>Site visited {{session['visits']}} times!</h3>
        <div class="d-grid gap-2 col-6 mx-auto">
            <a href="/users" class="btn btn-outline-success" type="button"> +2 visits</a>
            <a href="/destroy_session" class="btn btn-outline-danger" type="button">Reset</a>
        </div>

        <form action='/users' method='post'>
            <label for='name'>Change Increment To: </label>
            <input type='text' name='visits'>
            <input type="submit" value='count_visits'>
        </form>
    </div>
</body>
</htm