<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
<div class="container bg-dark mx-5 align-items-center">
    <div class=" header text-center">
        <h1 class="pt-4 text-danger">Survey Time!</h1>
    </div>
<!-- end header -->
    <div class="m-4 p-4 main text-light">
        <form class="col container text-center" action='/return' method="post">
            <div class="row mb-3">
                <label for="result">Name:</label>
                <input type="text" name="name" >
            </div>
            <div class="row mb-3">
                <label for="result">Dojo Location</label>
                <select class="form-select" name="location">
                    <option selected>Dojo Location</option>
                    <option value="online">Online</option>
                    <option value="chicago">Chicago</option>
                    <option value="san diego">San Diego</option>
                </select>
            </div>
            <div class="row mb-3">
                <label for="result">Favorite Language</label>
                <select class="form-select" name="language">
                    <option selected>Favorite Language</option>
                    <option value="python">Python</option>
                    <option value="Java">Java</option>
                    <option value="MERN">MERN</option>
                </select>
            </div>
            <div class="rows-3 mb-3">
                <h3>Order Lunch: </h3>
                <input class="form-check-input" type="checkbox" name="agreement">
                <label for="result">I will pay you back</label>
            </div>
            <div class="rows-3 mb-3">
                <input class="form-check-input" type="radio" name="lunch">
                <label for="result">Chick-fil-A</label>
            </div>
            <div class="rows-3 mb-3">
                <label class="form-label" for="result">Comments: (optional)</label>
                <textarea class="form-control" rows="3" name="comment"></textarea>
            </div>
            <input class="btn btn-outline-success p-2 m-2" type="submit" value="result">
        </form>
    </div>
<!-- end main -->
</div>
</body>
</html>