<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <title>Userpage</title>
</head>
<body class="bg-dark text-light">
    <div class="container mx-auto">
        <div class="navbar d-flex justify-content-between bg-secondary rounded px-4">
            <div>
                <h3 sclass="mx-3"> {{user.first_name}}'s Profile  </h3>
            </div>
            <div>
                <a class="btn btn-warning px-3" >[fill me]</a>
                <a class="btn btn-danger px-3" href="/logout">Logout</a>
            </div>    
        </div>





    </div>
<!-- end container -->
</body>
</html>